# Local .terraform folder
.terraform/

# Terraform state files (don't push these, use an S3 backend later!)
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Secrets and Variables
*.tfvars
*.tfvars.json
.env

# Crash logs
crash.log

# Ignore provider plugins
.terraform.lock.hcl